body{
    margin: 0;
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #364552;
    color: white;
    padding: 3rem 2rem;
}

header h2 {
    font-size: 3rem;
    text-align: center;
}
textarea{
    width: 400px;
}
.contenedor{
    width: 400px;
    margin: 0 auto;

}
.footer{
    background-color: #222;
    padding: 3rem;
    color: #fff;
}

section article {
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

section article h2, section article p{
    margin: 1rem;
}

footer a{
    float: right;
}

footer a{
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover{
    color: cornflowerblue;
}
.accesorapido{
<<<<<<< HEAD
    box-sizing: border-box;
=======
    width: auto;

>>>>>>> c774d527ddcadb3a9fa3e561625d37a5dacfffe9
}

.etiqueta1{
    background-color: white;
    padding: 10px 0 10px 0;
    display: inline-block;
<<<<<<< HEAD
    width: 33%;
=======
    width: 32%;
>>>>>>> c774d527ddcadb3a9fa3e561625d37a5dacfffe9
    border-left: lightblue solid 2px;
    transition: 0.3s;
}
.etiqueta1:hover{
    background-color: lightblue;
    box-shadow: 2px 2px rgba(0,0,0,0.1);
<<<<<<< HEAD
    transform: scale(1.02, 1.02);
=======
    transform: scale(1.05, 1.05);
>>>>>>> c774d527ddcadb3a9fa3e561625d37a5dacfffe9
}

.etiqueta2{
    background-color: white;
    padding: 10px 0 10px 0;
    display: inline-block;
<<<<<<< HEAD
    width: 33%;
=======
    width: 32%;
>>>>>>> c774d527ddcadb3a9fa3e561625d37a5dacfffe9
    border-left: lightsalmon solid 2px;
    transition: 0.3s;
}
.etiqueta2:hover{
    background-color: lightsalmon;
    box-shadow: 2px 2px rgba(0,0,0,0.1);
<<<<<<< HEAD
    transform: scale(1.02, 1.02);
=======
    transform: scale(1.05, 1.05);
>>>>>>> c774d527ddcadb3a9fa3e561625d37a5dacfffe9
}

.etiqueta3{
    background-color: white;
    padding: 10px 0 10px 0;
    display: inline-block;
    width: 32%;
    border-left: lightskyblue solid 2px;
    transition: 0.3s;
}
.etiqueta3:hover{
    background-color: lightskyblue;
    box-shadow: 2px 2px rgba(0,0,0,0.1);
<<<<<<< HEAD
    transform: scale(1.02, 1.02);
=======
    transform: scale(1.05, 1.05);
>>>>>>> c774d527ddcadb3a9fa3e561625d37a5dacfffe9
}