
table{
    width: 100%;
    border-collapse: collapse;
}

tbody tr:hover{
    background-color: #efe;
    cursor: pointer;
}

tr th{
    background-color: rgba(248, 149, 0, 0.795);
    color: white;
    font-size: 16px;
    text-align: left;
    
    padding: 20px 5px 20px 5px;
}

td{
    padding: 10px 5px 10px 5px;
}

tr{
    font-size: 14px;
}

tr:nth-child(even){
    background-color: #eee;
}

