/*Selector universal*/
* {
    font-size: 14px;
    color: black;
}

/*Selector de etiqueta*/
body {
background-color: #eeeeee;
}
h2{
    font-size: 28px;
}
h3{
    color: darkblue;
    font-size: 24px;
}

/*Selector de ID*/
#parrafo {
    color: #ff0000;
}
/*Selector de clase*/
.etiqueta{
    color: #00aa00;
}

.especial{
    color:yellow
}

/*Selector anidado*/
div h3{
    color: brown;
    font-size: 24px;
}
