body{
    background-color: #eee;
}

#contenedor{
    background-color: white;
    border-style: outset;
    border-width: 1px;
}

    .cabecera{
        padding-left: 10px;
        border-bottom: solid 1px #eee;
    }

    .contenido{
        padding-left: 10px;
    }

    .pie{
        border-top: solid 1px #eee;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .boton_primario{
        background-color: rgb(18, 142, 214);
        color: azure;
        padding: 7px;
        border: none;
    }

    .boton_secundario{
        background-color:rgb(138, 138, 138);
        color: azure;
        padding: 7px;
        border: none;
    }