<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/main.css">
    <title>INVENTARIO</title>
</head>
<body>
    <h2>MENÚ</h2>
    <ul>
        <details>
            <summary>Maestros</summary>
            <li><a href="productosInventarioView/producto_gestion.html">Producto</a></li>
            <li><a href="#">Lista de precios</a></li>
            <li><a href="#">Inventario inicial</a></li>
        </details>

        <details>
            <summary>Documentos</summary>
            <li><a href="#">Control de inventario</a></li>
            <li><a href="#">Entrada</a></li>
            <li><a href="#">Salida</a></li>
            <li><a href="#">Traspaso</a></li>
        </details>
        
        <details>
            <summary>Informes</summary>
            <li><a href="">Stock fisico</a></li>
            <li><a href="">Stock valorizado</a></li>
            <li><a href="">Stock minimo</a></li>
            <li><a href="">Stock maximo</a></li>
            <li><a href="">Productos mayor rotacion</a></li>
            <li><a href="">Productos menor rotacion</a></li>
        </details>
    </ol>
</body>
</html>