<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/main.css">
    <title>INVENTARIO</title>
</head>
<body>
    <h2>MENÚ</h2>
    <ol>
        <li><a href="productosInventarioView/producto_gestion.html">Producto</a></li>
        <li><a href="#">Inventario inicial</a></li>
        <li><a href="#">Control</a></li>
        <li><a href="#">Entrada</a></li>
        <li><a href="#">Salida</a></li>
        <li><a href="#">Traspaso</a></li>
    </ol>
</body>
</html>