<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"> 
    
    <link rel="stylesheet" href="../../../../public/css/main.css">
    <title>PRODUCTO</title>
</head>
<body>
    <h3>GESTIÓN DE PRODUCTOS</h3>
    <form action="">
        <input type="text" placeholder="Buscar">
        <input class="buscar" type="submit" value="Buscar">
        <input class="agregar" type="submit" value="Agregar">
    </form>
    <br>
    <table>
        <thead>
            <tr>
                <th>SKU</th>
                <th>CODIGO DE BARRA</th>
                <th>NOMBRE DE PRODUCTO</th>
                <th>ILIMITADO</th>
                <th>STOCK MINIMO</th>
                <th>STOCK MAXIMO</th>
                <th>STOCK ACTUAL</th>
                <th>ACCIÓN</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>001</td>
                <td>8970689679966</td>
                <td>CAPSULA INCAGOLD</td>
                <td>SI</td>
                <td>12</td>
                <td>120</td>
                <td>1500</td>
                <td><a href="#">editar</a>|<a href="#">eliminar</a></td>
            </tr>
            <tr>
                <td>002</td>
                <td>8970689674534</td>
                <td>CAPSULA INCAFORT</td>
                <td>NO</td>
                <td>100</td>
                <td>1000</td>
                <td>2000</td>
                <td><a href="#">editar</a>|<a href="#">eliminar</a></td>
            </tr>
            <tr>
                <td>003</td>
                <td>8970689676345</td>
                <td>CAPSULA INCASOFT</td>
                <td>SI</td>
                <td>100</td>
                <td>1200</td>
                <td>3000</td>
                <td><a href="#">editar</a>|<a href="#">eliminar</a></td>
            </tr>
        </tbody>
        <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>                    
                </tr>
        </tfoot>
    </table>
</body>
</html>