.caja{
	font-family: Verdana;
	font-size: 8em;
	text-align: center;
	color: white;
	display: inline-block;

	width: 200px;
	height: 150px;
	
	padding: 10px;
	border: 0px;
	margin: 10px;	
}

.caja-roja{
	background: IndianRed;
}
.caja-verde{
	background: DarkSeaGreen;
}
.caja-azul{
	background: SteelBlue;
}