.title{
	font-family: Arial ;
	
		/*Box Model*/

		/*Caja interna: Content Box*/
		width: 500px;
		height: 50px;

		/*Caja interna: Padding - Separacion del content box con el border*/
		padding-top: 0.1px;/*evita el colapsado de margenes verticales*/
		padding-right: 10px;
		padding-bottom: 10px;
		padding-left: 10px; 

		/*Caja interna: Border - Separacion del margin con el padding*/
		border-top: .1px;
		border-right: .1px;
		border-bottom: .1px;
		border-left: .1px;

		/*Caja externa: Margin - */
		margin-top: : 10px; 
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
	}

.title-1{
	color: #303030;
	text-align: center;
}


.title-2{
	color: #545454;
	text-align: left;
	border-bottom: .1px solid black;
}

.title-2:hover{
	background: LIGHTSALMON;
	/*border: .1px solid black;*/
}