p{
    border: solid 1px black;
}

span{
    border: solid 1px black;
}

.invisible{
    display: none;
}

.posicion{
    position: relative; /*son referentes al padre*/
    left: 15px;
    top: 5px;
}

.izquierda{
    float:left;
    border: 2px black dotted;
    height: 100px;
    width: 100px;
}

.derecha{
    float:right;
    border: 2px black dotted;
    height: 100px;
    width: 100px;
}